/bin
/logs
/target
Thumbs.db
.DS_Store 
*.log
.settings/com.genuitec.eclipse.migration.prefs
.myeclipse/profiler/weixt_ref on Tomcat  7.x.xml
.myumldata
.settings/com.genuitec.jboss.ide.eclipse.xdoclet.run.prefs
*.log.* 
*node_modules*
src/main/resources/application.properties
.classpath
